@import './../../../../styles/variables';
@import './../../../../styles/responsive';

.vacancy-form {
  &__section {
    background-color: $color-white;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(157, 176, 186, 0.2);
    margin: 20px 0;

    &-header {
      background-color: $color-gray-20;
      border-bottom: 1px solid $color-blue-stone-20;
      border-radius: 10px 10px 0 0;
      padding: 10px 20px;
    }
    &-title {
      color: $color-gray;
      @include h4-font-size;
      margin-bottom: 0;
    }
    &-content {
      display: flex;
      flex-flow: row wrap;
      padding: 20px 20px 10px;
      width: 100%;
    }
    &-control {
      padding: 0.25rem;
      flex: 0 1 calc(50% - 0.5rem);
      margin: 0.5rem 0.25rem;

      ::ng-deep .mat-form-field {
        font-family: $main-font;
        width: 100%;

        &-wrapper {

        }

        &-infix {
          width: 100%;
        }
      }
    }
  }
}
