<form class="vacancy-form">
  <div class="vacancy-form__section">
    <div class="vacancy-form__section-header">
      <h4 class="elip-h4 vacancy-form__section-title">Personal Information</h4>
    </div>
    <div class="vacancy-form__section-content">
      <div class="vacancy-form__section-control elip-form-control__control">
        <div class="elip-form-control__label-container">
          <label class="elip-form-control__label">
            Salutation *
          </label>
        </div>
        <mat-form-field appearance="outline"
            floatLabel="always">
          <input matInput>
        </mat-form-field>
      </div>
      <div class="vacancy-form__section-control elip-form-control__control">
        <div class="elip-form-control__label-container">
          <label class="elip-form-control__label">
            Mobile Phone *
          </label>
        </div>
        <mat-form-field appearance="outline"
            floatLabel="always">
          <input matInput>
        </mat-form-field>
      </div>
      <div class="vacancy-form__section-control elip-form-control__control">
        <div class="elip-form-control__label-container">
          <label class="elip-form-control__label">
            First Name *
          </label>
        </div>
        <mat-form-field appearance="outline"
            floatLabel="always">
          <input matInput>
        </mat-form-field>
      </div>
      <div class="vacancy-form__section-control elip-form-control__control">
        <div class="elip-form-control__label-container">
          <label class="elip-form-control__label">
            Phone
          </label>
        </div>
        <mat-form-field appearance="outline"
            floatLabel="always">
          <input matInput>
        </mat-form-field>
      </div>
    </div>

  </div>
</form>
