@font-face {
  font-family: Interstate;
  font-style: normal;
  font-weight: normal;
  src: url('InterstateLight.eot');
  src: url('InterstateLight.woff') format('woff'), url('InterstateLight.ttf') format('truetype'),
    url('InterstateLight.svg#fbSCuc3PX6Light') format('svg');
}
@font-face {
  font-family: Interstate;
  font-style: normal;
  font-weight: bold;
  src: url('InterstateBold.eot');
  src: url('InterstateBold.woff') format('woff'), url('InterstateBold.ttf') format('truetype'),
    url('InterstateBold.svg#fbsQPDQgr7Bold') format('svg');
}
@font-face {
  font-family: Interstate;
  font-style: normal;
  font-weight: 200;
  src: url('InterstateExtraLight.eot');
  src: url('InterstateExtraLight.woff') format('woff'), url('InterstateExtraLight.ttf') format('truetype'),
    url('InterstateExtraLight.svg#fbsQPDQgr7Bold') format('svg');
}
