@import './../../../../styles/variables';
@import './../../../../styles/responsive';

.vacancy-details {
  &__content {
    ::ng-deep .jobDetails {
      .detail-container,
      .signature-container {
        @include normal-font-size;
        &__title {
          @include h3-font-size;
          font-weight: bold;
        }

        &__location {
          @include h4-font-size;
          font-weight: bold;
        }

        &__paragraph {
          margin: 0;
        }
      }

      .signature-container {
        margin-top: 20px;
      }
    }
  }
  &__actions {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1rem 0 2rem;
    text-align: center;

    &-apply {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
