@import './../../../../styles/variables';
@import './../../../../styles/responsive';

.vacancies-list {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - #{$header-height});

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__vacancy {
    align-items: center;
    border-bottom: 1px solid $color-gray-20;
    color: $color-blue-lake;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    text-decoration: none;

    &-arrow {
      font-size: 16px;
      height: 16px;
      margin-right: 10px;
    }

    &-title {
      flex: 1 1 auto;
      margin-bottom: 0;
    }

    &-location {
      margin-left: auto;
    }
  }
}
